.bottom-footer {
  padding-top: 39px;
  padding-bottom: 22px;

  text-align: center;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    padding-top: 54px;
    padding-bottom: 59px;
  }

  @media (min-width: $desktop) {
    padding-top: 57px;
  }
}

.bottom-footer__logo {
  display: block;
  margin-bottom: 27px;

  @media (min-width: $tablet) {
    margin-bottom: 0;
    padding-top: 6px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.bottom-footer__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;

  border-top: 1px solid $special-grey-4;
  border-bottom: 1px solid $special-grey-4;

  @include list(0, 20px 0 16px);

  @media (min-width: $tablet) {
    padding: 0;
    padding-left: 25px;

    border: 0;
  }
}

.bottom-footer__item {
  width: 40px;

  &:first-child {
    margin-left: auto;
  }

  &:last-child {
    margin-right: auto;
  }

  &:not(:last-child) {
    margin-right: 14px;

    @media (min-width: $tablet) {
      margin-right: 11px;
    }
  }
}

.bottom-footer__link {
  padding: 9px;

  &--fb {
    padding: 11px 9px 6px;
  }

  @media (min-width: $tablet) {
    padding: 9px 0;
  }
}

.bottom-footer__image {
  &:hover {
    fill: $basic-green;
  }

  &:active {
    opacity: 0.3;
  }

  &--vk {
    @media (min-width: $tablet) {
      width: 29px;
      height: 21px;
    }
  }

  &--insta {
    @media (min-width: $tablet) {
      width: 23px;
      height: 23px;
    }
  }

  &--fb {
    @media (min-width: $tablet) {
      width: 32px;
      height: 32px;
    }
  }
}
