.bottom-footer {
  padding-top: 39px;
  padding-bottom: 22px;

  text-align: center;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    padding-top: 57px;
    padding-bottom: 59px;
  }
}

.bottom-footer__logo {
  display: block;
  margin-bottom: 32px;

  @media (min-width: $tablet) {
    margin-bottom: 0;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.bottom-footer__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;

  border-top: 1px solid $special-grey-4;
  border-bottom: 1px solid $special-grey-4;

  @include list(0, 20px 0);

  @media (min-width: $tablet) {
    padding: 0 20px;

    border: 0;
  }
}

.bottom-footer__item {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;

  &:first-child {
    margin-left: auto;
  }

  &:last-child {
    margin-right: auto;
  }

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.bottom-footer__image {
  &:hover {
    fill: $basic-green;
  }

  &:active {
    opacity: 0.3;
  }
}
