.button {
  display: block;

  color: $white;

  background-color: $basic-green;
  border: none;

  &:hover {
    background-color: $basic-green-dark;
  }

  &:active {
    color: $white-30;
  }

  @media (max-width: $mobile-max) {
    width: 100%;
    padding: 10px 0;

    @include fonts($font-size-s-300, $line-height-m-100);
  }

  @media (min-width: $tablet) {
    padding: 14px 14px;

    @include fonts($font-size-m-100, $line-height-m-100);
  }
}
