.card {
  position: relative;

  padding: 14px 20px 25px;

  text-align: center;

  background-color: $white;
  border-bottom: 1px solid #ebebeb;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 324px;
    padding: 0;
    padding-top: 78px;

    background-image: linear-gradient(to bottom, $white 50%, $basic-grey 50%);
    border-bottom: none;
  }

  @media (min-width: $desktop) {
    width: 245px;
  }

  &--last {
    padding-top: 79px;

    text-align: center;

    &::before {
      content: "";
      position: absolute;
      top: 25px;
      left: 50%;

      width: 30px;
      height: 30px;

      background: url("../img/icon-plus.svg") no-repeat 0 0;
      background-size: cover;
      transform: translateX(-50%);

      @media (min-width: $tablet) {
        top: 51px;

        width: 60px;
        height: 60px;

        background: url("../img/icon-plus-big.svg") no-repeat 0 0;
      }

      @media (min-width: $desktop) {
        top: 50px;

        transform: translateX(-52%);
      }
    }

    @media (min-width: $tablet) {
      width: 246px;
      margin-top: 81px;
      padding: 159px 38px 36px;

      background-image: linear-gradient(to bottom, $white 50%, $white 50%);
      border: 1px solid $basic-grey;
    }

    @media (min-width: $desktop) {
      width: 167px;
      margin-top: 79px;
      padding-bottom: 39px;
    }
  }
}

.card__desc-wrap {
  @media (min-width: $tablet) {
    padding: 157px 38px 40px;

    background-color: $basic-grey;
  }
}

.card__list {
  position: relative;

  width: 140px;
  margin-left: 50%;
  padding-bottom: 23px;

  @media (min-width: $tablet) {
    width: 100%;
    margin: 0;
    padding-bottom: 33px;
  }
}

.card__img-link {
  position: absolute;
  top: 16px;
  left: -50%;

  display: block;
  width: max-content;

  transform: translateX(-50%);

  @media (min-width: $tablet) {
    top: -232px;
    left: 50%;

    transform: translateX(-50%);
  }

  @media (min-width: $desktop) {
    top: -244px;
  }

  img {
    display: block;

    object-fit: contain;

    @media (min-width: $tablet) {
      width: 168px;
      height: 208px;
    }
  }

  &--small {
    top: 32px;

    @media (min-width: $tablet) {
      top: -202px;
    }

    @media (min-width: $desktop) {
      top: -209px;
    }

    img {
      @media (min-width: $tablet) {
        width: 162px;
        height: 173px;
      }
    }
  }

  &--first {
    @media (max-width: $mobile-max) {
      top: 19px;
    }
  }
}

.card__title {
  width: 78px;
  margin: 0;
  margin-bottom: 9px;
  padding: 5px 0;

  text-align: left;
  color: $special-grey-darkest;

  @include fonts($font-size-s-300, $line-height-m-100);

  @media (min-width: $tablet) {
    width: 130px;
    margin: 0 auto;
    margin-bottom: 7px;

    text-align: center;

    @include fonts($font-size-m-100, $line-height-m-400);
  }

  @media (min-width: $desktop) {
    margin-bottom: 11px;

    @include fonts($font-size-m-100, $line-height-m-300);
  }

  &--last {
    width: 100%;
    margin-bottom: 7px;
    padding: 0;

    text-align: center;

    @media (min-width: $tablet) {
      width: 70%;
      margin-bottom: 21px;
    }

    @media (min-width: $desktop) {
      width: 90%;
      margin-bottom: 24px;
    }
  }
}

.card__desc {
  display: flex;
  justify-content: space-between;
  margin: 0;

  @media (min-width: $tablet) {
    padding: 7px 0 6px;

    border-bottom: 1px solid $basic-grey-3;
  }
}

.card__text {
  text-align: left;
  color: $special-grey-darker;

  @include fonts($font-size-s-100, $line-height-s-300, $font-text, 400, none);

  &--last {
    margin-top: 0;
    margin-bottom: 21px;

    text-align: center;

    @media (min-width: $tablet) {
      width: 170px;
      margin: 0 auto;
    }
  }

  &--second {
    text-align: right;
  }

  @media (min-width: $tablet) {
    @include fonts($font-size-s-300, $line-height-s-400, $font-text, 400, none);
  }
}

.card__button {
  padding: 10px 0 9px;

  @include fonts($font-size-s-300, $line-height-m-100);

  &--last {
    color: $special-grey-darker;

    background-color: $basic-grey;

    &:hover {
      background-color: $basic-grey-2;
    }

    &:active {
      color: $special-grey-darker-30;
    }
  }

  @media (min-width: $tablet) {
    margin-top: auto;
  }
}
