.contacts {
  padding: 23px 0 10px;

  @media (min-width: $tablet) {
    padding-top: 0;
    padding-bottom: 45px;
  }

  @media (min-width: $desktop) {
    padding-bottom: 67px;
  }
}

.contacts__data {
  padding-top: 33px;

  @media (min-width: $tablet) {
    padding-top: 74px;
  }

  @media (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.contacts__item-wrap {
  position: relative;

  @media (min-width: $desktop) {
    width: 572px;
  }
}

.contacts__icon {
  position: absolute;

  &--email {
    top: 16px;
    right: 14px;

    @media (min-width: $tablet) {
      top: 19px;
      right: 17px;
    }

    @media (min-width: $desktop) {
      right: 21px;
    }

    &--error {
      top: 16px;
      right: 14px;

      fill: $Error-color;

      @media (min-width: $tablet) {
        top: 20px;
      }
    }

    &--disabled {
      top: 16px;
      right: 14px;

      fill: $basic-green;

      @media (min-width: $tablet) {
        top: 20px;
      }
    }
  }

  &--tel {
    top: 13px;
    right: 11px;

    @media (min-width: $tablet) {
      top: 16px;
      right: 16px;
    }


    &--error {
      top: 13px;
      right: 11px;

      fill: $Error-color;

      @media (min-width: $tablet) {
        top: 17px;
      }
    }

    &--disabled {
      top: 13px;
      right: 11px;

      fill: $basic-green;

      @media (min-width: $tablet) {
        top: 17px;
      }
    }
  }
}
