.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;

  &--mob {
    padding: 0;
  }

  @media (min-width: $tablet) {
    padding: 0 30px;
  }

  &--form,
  &--tab {
    @media (min-width: $tablet) {
      padding: 0 70px;
    }

    @media (min-width: $desktop) {
      padding: 0 30px;
    }
  }
}
