.contacts {
  padding: 23px 0 10px;

  @media (min-width: $tablet) {
    padding-top: 0;
    padding-bottom: 45px;
  }

  @media (min-width: $desktop) {
    padding-bottom: 67px;
  }
}

.contacts__data {
  padding-top: 33px;

  @media (min-width: $tablet) {
    padding-top: 74px;
  }

  @media (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.contacts__item-wrap {
  position: relative;

  &:focus-within svg {
    fill: $basic-green;
  }

  @media (min-width: $desktop) {
    width: 572px;
  }
}

.contacts__icon {
  position: absolute;

  &--email {
    top: 16px;
    right: 15px;

    @media (min-width: $tablet) {
      top: 19px;
      right: 17px;
    }

    @media (min-width: $desktop) {
      top: 18px;
      right: 21px;
    }

    &--error {
      top: 16px;
      right: 15px;

      fill: $Error-color;

      @media (min-width: $tablet) {
        top: 19px;
        right: 17px;
      }

      @media (min-width: $desktop) {
        top: 18px;
        right: 21px;
      }
    }
  }

  &--tel {
    top: 13px;
    right: 12px;

    @media (min-width: $tablet) {
      top: 16px;
      right: 16px;
    }

    @media (min-width: $desktop) {
      top: 15px;
    }

    &--error {
      top: 13px;
      right: 12px;

      fill: $Error-color;

      @media (min-width: $tablet) {
        top: 16px;
        right: 16px;
      }

      @media (min-width: $desktop) {
        top: 15px;
      }
    }
  }
}
