.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 22px;

  @media (min-width: $tablet) {
    justify-content: flex-end;
    width: 200px;
    margin-top: 0;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__text {
  width: max-content;
  margin: 0;

  color: $special-grey-darker;

  @include fonts($font-size-s-300, $line-height-s-400, $font-text, 400, none);

  @media (min-width: $tablet) {
    margin-right: 22px;
  }
}

.copyright__image {
  &:hover {
    fill: $basic-green;
  }
}
