.data-item {
  display: flex;
  align-items: flex-start;

  &:not(:last-child) {
    margin-bottom: 13px;

    @media (min-width: $tablet) {
      margin-bottom: 20px;
    }
  }

  &--contacts {
    @media (min-width: $desktop) {
      margin-bottom: 0;
    }

    &:not(:last-child) {
      @media (min-width: $desktop) {
        margin-bottom: 0;
      }
    }
  }
}

.data-item__text {
  display: inline-block;
  padding-top: 15px;
  padding-right: 14px;

  color: $special-grey-darker;

  @include fonts($font-size-s-300, $line-height-s-400);

  @media (min-width: $tablet) {
    padding-top: 10px;
    padding-right: 18px;

    @include fonts($font-size-m-100, $line-height-m-600);
  }

  &--contacts {
    padding-top: 11px;
    padding-right: 9px;

    @media (min-width: $tablet) {
      padding-right: 17px;
      padding-bottom: 2px;
    }
  }
}

.data-item__field {
  flex-grow: 1;
  box-sizing: border-box;
  padding: 13px 15px 13px;

  color: $special-grey-darker;

  border: 1px solid $special-grey;
  outline: none;

  @include fonts($font-size-s-300, $line-height-s-400);

  &::placeholder {
    color: $special-grey-darker;
  }

  &:hover {
    border-color: $basic-grey-3;
  }

  &:focus {
    border: 1px solid $special-grey-darker;
    box-shadow: inset 0 0 0 1px $special-grey-darker;
  }

  @media (max-width: $mobile-max) {
    width: calc(100% - 120px);
  }

  @media (min-width: $tablet) {
    padding: 10px 18px 10px;

    @include fonts($font-size-m-100, $line-height-m-600);
  }

  &--contacts {
    padding-right: 50px;
  }

  &--error {
    border: 1px solid $Error-color;
    box-shadow: inset 0 0 0 1px $Error-color;
  }
}
