.extra {
  padding-bottom: 37px;

  @media (min-width: $tablet) {
    padding-bottom: 17px;
  }

  @media (min-width: $desktop) {
    padding-bottom: 24px;
  }
}

.extra__choice {
  padding-top: 37px;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    padding-top: 59px;
  }

  @media (min-width: $desktop) {
    padding-top: 61px;
  }
}

.extra__item {
  &:nth-child(2n+1) {
    @media (min-width: $tablet) {
      margin-right: 10%;
    }

    @media (min-width: $desktop) {
      margin-right: 0;
    }
  }

  @media (min-width: $tablet) {
    width: 35%;
    margin-bottom: 42px;
  }

  @media (min-width: $desktop) {
    width: 15%;
  }

  &:not(:last-child) {
    @media (min-width: $desktop) {
      padding-right: 82px;
    }
  }
}
