.extra-product {
  border-top: 1px solid $special-grey-2;

  @include list;

  @media (min-width: $desktop) {
    display: inline-block;
    width: 896px;
    margin-right: 79px;
  }
}

.extra-product__item {
  padding-top: 13px;
  padding-bottom: 17px;

  border-bottom: 1px solid $special-grey-2;

  @media (min-width: $tablet) {
    padding: 26px 38px 28px;

    border: 1px solid $special-grey-2;
    border-top: none;
  }

  @media (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 17px;

    border: 0;
    border-bottom: 1px solid $special-grey-2;
  }
}

.extra-product__wrap {
  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;
  }

  @media (min-width: $desktop) {
    width: 653px;
    padding-bottom: 0;
  }
}

.extra-product__title {
  margin-top: 0;
  margin-bottom: 13px;

  @include fonts($font-size-s-300, $line-height-s-300);

  @media (min-width: $tablet) {
    margin-bottom: 0;

    @include fonts($font-size-m-100, $line-height-m-100);
  }

  @media (min-width: $desktop) {
    width: 314px;
    margin-bottom: 0;
    padding-right: 10px;
  }
}

.extra-product__desc {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  @include fonts($font-size-s-200, $line-height-s-200, $font-text, 400, none);

  @media (min-width: $tablet) {
    justify-content: flex-end;
    margin-bottom: 0;
    padding-top: 2px;

    text-align: right;

    @include fonts($font-size-s-300, $line-height-m-100, $font-text, 400, none);
  }

  @media (min-width: $desktop) {
    justify-content: space-between;
    width: 327px;
    padding-top: 10px;
  }
}

.extra-product__unit {
  text-align: left;
}

.extra-product__price {
  padding-left: 10px;

  @media (min-width: $tablet) {
    min-width: 80px;
  }

  @media (min-width: $desktop) {
    min-width: 83px;

    text-align: left;
  }
}

.extra-product__button {
  padding: 10px 0 10px;

  text-align: center;

  @include fonts($font-size-s-300, $line-height-m-100);

  @media (min-width: $tablet) {
    padding: 10px 0 8px;
  }

  @media (min-width: $desktop) {
    width: 244px;
    padding-bottom: 9px;
  }
}
