.form {
  padding: 27px 0 32px;

  @media (min-width: $tablet) {
    padding: 63px 0 72px;
  }

  @media (min-width: $desktop) {
    padding: 74px 0 82px;
  }
}

.form__title-main {
  margin-top: 0;
  margin-bottom: 37px;

  @include fonts($font-size-b-100, $line-height-b-100, $font, 400, none);

  @media (min-width: $tablet) {
    margin-bottom: 55px;

    @include fonts($font-size-b-200, $line-height-b-400, $font, 400, none);
  }

  @media (min-width: $desktop) {
    margin-bottom: 57px;
  }
}

.form__subtitle {
  width: 230px;
  margin-top: 0;
  margin-bottom: 38px;

  @include fonts($font-size-s-200, $line-height-s-400);

  @media (min-width: $tablet) {
    width: 325px;
    margin-bottom: 65px;

    @include fonts($font-size-m-100, $line-height-m-600);
  }
}

.form__button-wrap {
  text-align: center;

  @media (min-width: $tablet) {
    display: flex;
    align-items: center;
  }
}

.form__button {
  margin-bottom: 21px;

  @media (min-width: $tablet) {
    width: 45%;
    max-width: 568px;
    margin-right: 61px;
    margin-bottom: 0;
    padding: 16px;
  }

  @media (min-width: $desktop) {
    width: 47%;
    margin-right: 81px;
  }
}

.form__required-field {
  margin: 0;

  @include fonts($font-size-s-200, $line-height-s-300, $font-text, 400, none);

  @media (min-width: $tablet) {
    @include fonts($font-size-s-300, $line-height-s-300, $font-text, 400, none);
  }
}
