.main-nav__wrap {
  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 19px;
  }

  @media (min-width: $desktop) {
    padding-top: 47px;
  }
}

.main-nav__logo-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 17px 15px 20px;

  background-color: $white;
  border-bottom: 1px solid $basic-grey-4;

  @media (min-width: $tablet) {
    padding: 0;
    padding-top: 7px;

    background-color: transparent;
    border: none;
  }
}

.main-nav__toggle {
  position: relative;

  width: 31px;
  height: 38px;
  padding: 0;

  background-color: transparent;
  border: 0;

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 18px;
    right: 2px;

    width: 26px;
    height: 2px;

    background-color: $black;

    transition-duration: 200ms;
  }

  &::after {
    transform: rotate(45deg);
  }

  &::before {
    transform: rotate(-45deg);
  }

  &--closed {
    &::before {
      top: 11px;
      right: 3px;

      width: 24px;
      height: 2px;

      background-color: $black;
      box-shadow: 0 8px 0  $black,
        0 16px 0  $black;
      transform: rotate(0deg);

      transition-duration: 200ms;
    }

    &::after {
      display: none;
    }
  }

  @media (min-width: $tablet) {
    display: none;
  }
}

.main-nav__logo {
  display: block;
}

.main-nav__img-logo {
  display: block;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: $desktop) {
    width: 202px;
    height: 59px;
  }
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;

  text-align: center;

  background-color: $white;

  @include list;

  &--closed {
    @media (max-width: $mobile-max) {
      display: none;
    }
  }

  @media (min-width: $tablet) {
    justify-content: start;
    max-width: 610px;

    background-color: transparent;
  }

  @media (min-width: $desktop) {
    max-width: 47%;
  }
}

.main-nav__item {
  width: 100%;
  padding: 17px 24px 18px;

  border-bottom: 1px solid $basic-grey-4;

  &:not(:last-child) {
    @media (min-width: $tablet) {
      margin-right: 35px;
    }
  }

  @media (min-width: $tablet) {
    width: max-content;
    padding: 0;
    padding-top: 18px;

    border: none;
  }
}

.main-nav__link {
  display: block;
  padding: 5px 0;

  color: $black;

  @include fonts($font-size-m-100, $line-height-m-100, $font, 500);

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--active {
    @media (min-width: $tablet) {
      border-bottom: 2px solid $basic-green;
    }
  }

  &--index {
    @media (min-width: $desktop) {
      color: $white;
    }

    &--active {
      @media (min-width: $tablet) {
        border-bottom: 2px solid $basic-green;
      }

      @media (min-width: $desktop) {
        border-bottom: 2px solid $white;
      }
    }
  }

  @media (min-width: $tablet) {
    padding-bottom: 8px;

    @include fonts($font-size-s-400, $line-height-m-400);
  }

  @media (min-width: $desktop) {
    padding-bottom: 5px;

    @include fonts($font-size-m-100, $line-height-m-600);
  }
}
