.map {
  position: relative;

  background-color: $special-grey;
}

.map__image {
  display: block;
  width: 100%;

  object-fit: cover;

  @media (min-width: $tablet) {
    height: 400px;
  }
}

.map__iframe {
  position: absolute;
  top: 0;
  z-index: 2;

  width: 100%;
  height: 362px;

  border: 0;

  @media (min-width: $tablet) {
    height: 400px;
  }
}

.map__pin {
  position: absolute;
  top: 46%;
  left: 51%;

  transform: translate(-52%, -53%);

  @media (min-width: $tablet) {
    top: 50%;

    width: 113px;
    height: 106px;

    transform: translate(-52%, -52%);
  }

  @media (min-width: $desktop) {
    top: 46%;
    left: 67%;

    transform: translate(-50%, -50%);
  }
}
