.promo-catalog {
  width: 100%;

  background-image: url("../img/gift-photo-small@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/gift-photo-small@2x.jpg");
  }

  @media (min-width: $tablet) {
    background-image: url("../img/gift-photo-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop) {
    display: inline-block;
    width: 245px;

    background-image: url("../img/gift-photo-small@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift-photo-small@2x.jpg");
    }
  }
}

.promo-catalog__link {
  position: relative;

  display: block;
  width: 161px;
  margin: 0 auto;
  padding-top: 186px;
  padding-bottom: 43px;

  text-align: center;
  color: $white;

  @include fonts($font-size-s-300, $line-height-m-100, $font-text, 400, none);

  &::before {
    content: "";
    position: absolute;
    top: 65px;
    left: 50%;

    width: 57px;
    height: 61px;

    background: url("../img/icon-gift.svg") no-repeat 0 0;
    transform: translateX(-50%);

    @media (min-width: $tablet) {
      top: 50%;
      left: -23px;

      transform: translate(0, -50%);
    }

    @media (min-width: $desktop) {
      top: 65px;
      left: 50%;

      transform: translate(-50%, 0);
    }
  }

  @media (min-width: $tablet) {
    padding-top: 71px;
    padding-bottom: 69px;
    padding-left: 326px;

    text-align: left;
  }

  @media (min-width: $desktop) {
    padding-top: 186px;
    padding-bottom: 43px;
    padding-left: 0;

    text-align: center;
  }
}
