.promo-index {
  background-color: $basic-grey;

  @media (max-width: $mobile-max) {
    padding: 30px 20px 17px;
  }

  @media (min-width: $tablet) {
    padding: 77px 40% 57px 52px;
  }

  @media (min-width: $desktop) {
    padding: 77px 51px 57px;
  }
}

.promo-index__title {
  position: relative;

  margin-top: 0;

  &::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 2px;

    width: 50px;
    height: 50px;

    background-color: $basic-green;
    border-radius: 50%;

    @media (min-width: $tablet) {
      top: 15px;
      right: -222px;
      left: auto;

      width: 200px;
      height: 200px;
    }

    @media (min-width: $desktop) {
      top: -30px;
      left: 1px;

      width: 100px;
      height: 100px;
    }
  }

  &::after,
  &::before {
    content: "";
    position: absolute;
  }

  &--slim::after {
    top: -9px;
    left: 9px;

    width: 36px;
    height: 50px;

    background: url("../img/cat-slim.svg") no-repeat 0 0;
    background-size: contain;

    @media (min-width: $tablet) {
      top: 4px;
      right: -192px;
      left: auto;

      width: 140px;
      height: 192px;
    }

    @media (min-width: $desktop) {
      top: -36px;
      left: 16px;

      width: 70px;
      height: 97px;
    }
  }

  &--plump::after {
    top: 5px;
    left: -7px;

    width: 67px;
    height: 28px;

    background: url("../img/cat-plump.svg") no-repeat 0 0;
    background-size: contain;

    @media (min-width: $tablet) {
      top: 58px;
      right: -255px;
      left: auto;

      width: 268px;
      height: 112px;
    }

    @media (min-width: $desktop) {
      top: -10px;
      left: -18px;

      width: 134px;
      height: 56px;
    }
  }

  @media (max-width: $mobile-max) {
    margin-bottom: 29px;
    padding-left: 71px;

    @include fonts($font-size-m-200, $line-height-b-200);
  }

  @media (min-width: $tablet) {
    margin-bottom: 24px;

    @include fonts($font-size-b-100, $line-height-b-100);
  }

  @media (min-width: $desktop) {
    margin-bottom: 73px;
    padding-left: 163px;
  }
}

.promo-index__text {
  margin-top: 0;

  @media (max-width: $mobile-max) {
    margin-bottom: 15px;
    padding-bottom: 22px;

    border-bottom: 1px solid $special-grey-4;

    @include fonts($font-size-s-200, $line-height-s-400, $font-text, 400, none);
  }

  @media (min-width: $tablet) {
    margin-bottom: 52px;

    @include fonts($font-size-s-300, $line-height-m-400, $font-text, 400, none);
  }

  @media (min-width: $desktop) {
    margin-bottom: 28px;
  }

  &--second {
    @media (min-width: $tablet) {
      width: 92%;
    }

    @media (min-width: $desktop) {
      width: 100%;
    }
  }
}

.promo-index__link {
  position: relative;

  display: block;
  padding-top: 4px;
  padding-right: 5px;
  padding-bottom: 3px;

  color: $black;

  &::after {
    content: "";
    position: absolute;
    top: 49%;
    left: 100px;

    width: 24px;
    height: 12px;

    background: url("../img/arrow.svg") no-repeat 100% 0;
    transform: translateY(-50%);

    @media (min-width: $tablet) {
      left: 131px;
    }

    @media (min-width: $desktop) {
      left: 134px;
    }
  }

  &:hover {
    &::after {
      width: 32px;
    }
  }

  &:active {
    opacity: 0.3;
  }

  @media (max-width: $mobile-max) {
    width: 95px;

    @include fonts($font-size-s-300, $line-height-s-400);
  }

  @media (min-width: $tablet) {
    width: 120px;
    padding-top: 0;
    padding-bottom: 0;

    @include fonts($font-size-m-100, $line-height-m-600);
  }
}
